<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <form ng-submit="postCategory(data.category)" id="postCategoryFrom">
        <b>Add a new Category:</b>
        <input type="hidden" ng-model="data.category.id" />
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Category Name" 
                      title="Name"ng-model="data.category.name"></textarea>
        </fieldset>   
    </form>   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="postCategoryFrom" value="Submit">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>