<div class="modal-header">
    <h4 class="modal-title">Add a new category</h4>
</div>
<div class="modal-body">
    <form ng-submit="postCategory(data.category)" id="postCategoryFrom">
        <input type="hidden" ng-model="data.category.id" />
        <fieldset class="form-group">
            <input class="form-control" placeholder="Category Name" 
                      title="Name"ng-model="data.category.name" />
        </fieldset> 
        <fieldset class="form-group">
            <input class="form-control" placeholder="Category Url" 
                      title="Name"ng-model="data.category.url" />
        </fieldset>         
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Category Description" 
                      title="Name"ng-model="data.category.description"></textarea>
        </fieldset>   
    </form>   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="postCategoryFrom" value="Submit">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>