<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-6">
        <button type="button" class="btn btn-primary" ng-click="addProduct()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Product
        </button>
    </div>    
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
     
        <div class="" style="float: left">
            <div class="btn-group"  uib-dropdown>
              <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                Category Select <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li ng-repeat="category in data.categories">
                      <a href ng-click="listCategoryItems(category)"> {{ category.name }} </a>
                  </li>
              </ul>
            </div>
        </div>    
        
          <!-- Brand Select dropdown -->
        <div class="" style="float: left">
            <div class="btn-group"  uib-dropdown>
              <button id="single-button2" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                Brand Select <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button2">
                  <li ng-repeat="brand in data.brands">
                      <a href ng-click="listBrandProducts(brand)"> {{ brand.name }} </a>
                  </li>
              </ul>
            </div>
        </div>  
          
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" ng-keydown="getProductList()"
                    ng-model="data.search.searchText" required="required" class="form-control" placeholder="Search Text">
                </div>
                <button class="btn btn-primary" ng-class="{'disabled': data.search.searchText === undefined}" ng-click="getProductList()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button class="btn btn-primary" ng-click="resetSearchResult()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </form>            
        </div>
    </div>
</div>