<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <form ng-submit="postProduct(data.product)" id="postProductForm">
        <b>Add a new product:</b>
        <input type="hidden" ng-model="data.product.id" />
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Product Name" 
                      title="Name"ng-model="data.product.name"></textarea>
        </fieldset>   
        <fieldset class="form-group">
            <input class="form-control" placeholder="Describe the product..." title="Description"
                   ng-model="data.product.description" />
        </fieldset>
        <fieldset class="form-group">
            <input class="form-control" placeholder="Product Price" title="Price"
                   ng-model="data.product.price" />
        </fieldset>
        
        <fieldset class="form-group">
            <ui-select multiple ng-model="data.product.categories">
                <ui-select-match placeholder="Categories">
                    {{ $item.name }}
                </ui-select-match>
                <ui-select-choices repeat="item in (data.categories | filter: $select.search) track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </fieldset>
        
        <fieldset class="form-group">
            <ui-select multiple ng-model="data.product.labels">
                <ui-select-match placeholder="Labels">
                    {{ $item.name }}
                </ui-select-match>
                <ui-select-choices repeat="item in (data.labels | filter: $select.search) track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
            </ui-select>
        </fieldset>
        
    </form>   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="postProductForm" value="Submit">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>