<div class="modal-header">
    <h4 class="modal-title"></h4>
</div>
<div class="modal-body">
    <b>Product details:</b>
    <div>
        <span class="">
            Name: {{data.product.name}}
        </span> <br>
        <span class="">
            Description: {{data.product.description}}
        </span> <br>
        <span class="">
            Price: {{data.product.price}}
        </span> <br>
        <div class="">Related Categories:
            <span ng-repeat="category in data.product.categories"> 
                {{category.name}} 
            </span>
        </div>
        <span class="">
            By: {{data.product.brand}}
        </span> <br>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ok()">Ok</button>
</div>