<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <form ng-submit="postLabel(data.label)" id="postLabelFrom">
        <b>Add a new label:</b>
        <input type="hidden" ng-model="data.label.id" />
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Label Name" 
                      title="Name"ng-model="data.label.name"></textarea>
        </fieldset>   
        <fieldset class="form-group">
            <input class="form-control" placeholder="Describe the label..." title="Description"
                   ng-model="data.label.description" />
        </fieldset>
    </form>   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="postLabelFrom" value="Submit">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>