<div class="col-xs-12 col-sm-4 col-md-6">
        <button type="button" class="btn btn-primary" ng-click="addBrand()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Brand
        </button>
</div>


<table class="table table-hover margin-top-20">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    <tr dir-paginate="brand in data.brands | filter:q | itemsPerPage: pageSize" current-page="currentPage">
        <td>{{brand.id}}</td>
        <td>
            {{brand.name}}
        </td>
        <td>
            {{brand.description}}
        </td>
        <td>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="viewBrand(brand)"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
                <li><a ng-click="editBrand(brand)"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
                <li><a ng-click="deleteBrand(brand)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
              </ul>
            </div>            
        </td>
    </tr>
</table>

<div class="text-center">
    <dir-pagination-controls 
        boundary-links="true" 
        on-page-change="pageChangeHandler(newPageNumber)" 
        template-url="../../../bower_components/angularUtils-pagination/dirPagination.tpl.html"
        >
    </dir-pagination-controls>
</div>