<div class="modal-header">
    <h4 class="modal-title">Brand details</h4>
</div>
<div class="modal-body">
    <div>
        <span class="">
            ID: {{data.brand.id}}
        </span> <br>
        <span class="">
            Name: {{data.brand.name}}
        </span> <br>
        <span class="">
            Description: {{data.brand.description}}
        </span> 
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Ok</button>
</div>