<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <b>Order details:</b>
    <div>
        <span class="">
            Order ID: {{data.order.id}}
        </span> <br>
        <span class="">
            Product ID: {{data.order.pid}}
        </span> <br>
        <span class="">
            Product Name: {{data.order.productName}}
        </span> <br>
        <span class="">
            Quantity: {{data.order.quantity}}
        </span> <br>
        <span class="">
            Shipping Address: {{data.order.street}},{{data.order.city}},{{data.order.state}},
            {{data.order.zip}},{{data.order.country}}
        </span> <br>
        
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Ok</button>
</div>