<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <form ng-submit="postCustomer(data.customer)" id="postCustomerForm">
        <b>Add a new customer:</b>
        <input type="hidden" ng-model="data.customer.id" />
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Customer First Name" 
                      title="Name"ng-model="data.customer.firstName"></textarea>
        </fieldset>   
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Customer Last Name" 
                      title="Name"ng-model="data.customer.lastName"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Customer Email Address" 
                      title="Name"ng-model="data.customer.email"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Customer Phone number" 
                      title="Name"ng-model="data.customer.phoneNumber"></textarea>
        </fieldset>
    </form>   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="postCustomerForm" value="Submit">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>