<div class="modal-header">
    <h4 class="modal-title">Customer details</h4>
</div>
<div class="modal-body">
    <div>
        <span class="">
            ID: {{data.customer.id}}
        </span> <br>
        <span class="">
            Name: {{data.customer.firstName}}  {{data.customer.lastName}}
        </span> <br>
        <span class="">
            Email: {{data.customer.email}} 
        </span> <br>
        <span class="">
            Phone Number: {{data.customer.phoneNumber}} 
        </span> <br>
        <span class="">
            Customer Orders:
            <span class="list-group">
              <span ng-repeat="order in data.customer.orders"  class="list-group-item">
                  <a ng-click="getOrderDetails(order)">#{{order.id}}{{order.orderDate}}</a>
                  <button type="button" class="pull-right"  ng-click="deleteOrder(order)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Delete
                  </button>
              </span>
            </span>            
        </span>
        
        <span ng-show="data.visible" class=""> 
            <span style="font-weight: bold;"> Order Details: </span> <br>
            <div ng-repeat="detail in data.orderDetails"> 
                <span> Order ID: {{detail.id}} </span> <br>
                <span> Order Quantity: {{detail.quantity}} </span> <br>
                <span> Comments: {{detail.comment}} </span> <br>
                <span> Product: {{detail.productName}} </span> <br>
                <span> Status: {{detail.pid}} </span> <br>


                <a ng-click="hideOrderDetails()" style="float: right;">Hide</a>
            </div>
        </span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Ok</button>
</div>