

<table class="table table-hover margin-top-20">
    <tr><th>Customer ID</th><th>Product</th><th>Quantity</th><th></th></tr>
    <tr ng-repeat="item in data.basketItems">
        <td>{{item.cid}}</td>
        <td>#{{item.pid}}_{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>
            <button type="button" class="btn btn-danger" ng-click="deleteBasketItem(item)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete
            </button>
            <div class="btn-group">
                <label class="btn btn-default"
                       ng-model="item.quantity" ng-click="updateItemQuantity(item)"
                       ng-repeat="n in ['1', '2', '3', '4', '5']" 
                       uib-btn-radio="n" uncheckable>
                    {{ n }}
                </label>
            </div>
        </td>
    </tr>
</table>
<span>
    <button type="button" class="btn btn-default" ng-click="submitOrder()">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Place your order
    </button>
</span>