
{{ data.address }}

<div class="container">
    <h4>Your Shipping Address is:</h4> 
    <!-- Shipping Form: -->
    <form id="shippingForm">
        <div class="form-group">
            <label for="streetName">Street</label>
            <input type="text" class="form-control" id="streetName" placeholder="Your Street Name"
                   ng-model="data.address.newShipping.street">
        </div>
        <div class="form-group">
            <label for="stateName">State</label>
            <select class="form-control"  id="stateName" ng-model="data.address.newShipping.state">
                <option>NSW</option>
                <option>ACT</option>
                <option>VIC</option>
                <option>SA</option>
            </select>        
        </div>
        <div class="form-group">
            <label for="cityName">Street</label>
            <input type="text" class="form-control" id="cityName" placeholder="Your City Name..."
                   ng-model="data.address.newShipping.city">
        </div>
        <div class="form-group">
            <label for="zipCode">Zip</label>
            <input type="text" class="form-control" id="zipCode" placeholder="Your Zip Number..."
                   ng-model="data.address.newShipping.zip">
        </div>
        <div class="form-group">
            <label for="countryName">Country</label>
            <input type="text" class="form-control" id="countryName" placeholder="Your Country..."
                   ng-model="data.address.newShipping.country">
        </div>
        <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="data.address.giftwrap"> Do you want a giftwrap?
            </label>
        </div>
    </form>
    
    
    <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.sameAddress"> Billing address same as shipping address?
        </label>
    </div>
    <br>
    
    
    <h4 ng-hide="data.sameAddress">Your Billing Address is:</h4> 
        
    
    <!-- Billing Form: -->
    <form id="billingForm" ng-hide="data.sameAddress">
        <div class="form-group" >
            <label for="streetName">Street</label>
            <input type="text" class="form-control" id="streetName" placeholder="Your Street Name..."
                   ng-model="data.address.newBilling.street">
        </div>
        <div class="form-group" >
            <label for="stateName">State</label>
            <select class="form-control"  id="stateName" ng-model="data.address.newBilling.state">
                <option>NSW</option>
                <option>ACT</option>
                <option>VIC</option>
                <option>SA</option>
            </select>        
        </div>
        <div class="form-group" >
            <label for="cityName">City</label>
            <input type="text" class="form-control" id="cityName" placeholder="Your City Name..."
                   ng-model="data.address.newBilling.city">
        </div>
        <div class="form-group" >
            <label for="zipCode">Zip</label>
            <input type="text" class="form-control" id="zipCode" placeholder="Your Zip Number..."
                   ng-model="data.address.newBilling.zip">
        </div>
        <div class="form-group" >
            <label for="countryName">Country</label>
            <input type="text" class="form-control" id="countryName" placeholder="Your Country..."
                   ng-model="data.address.newBilling.country">
        </div>
    </form>
    
    <button type="submit" class="btn btn-default" ng-click="submitOrder()">
        Go to payment</button>

</div>
<br><br>


