<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <form ng-submit="postTheme(data.theme)" id="postThemeFrom">
        <b>Add a new page:</b>
        <input type="hidden" ng-model="data.theme.id" />
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Theme Name" 
                      title="Name"ng-model="data.theme.name"></textarea>
        </fieldset>   
        <fieldset class="form-group">
            <input class="form-control" placeholder="Describe the theme..." title="Description"
                   ng-model="data.theme.description" />
        </fieldset>
    </form>   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="postThemeFrom" value="Submit">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>