<button type="button" class="btn btn-primary" ng-click="addCategory()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add Category
</button>

<table class="table table-hover margin-top-20">
    <tr><th>ID</th><th>Name</th><th></th></tr>
    <tr ng-repeat="category in data.categories">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="glyphicon glyphicon-cog"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a ng-click="viewCategory(category)"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
                  <li><a ng-click="editCategory(category)"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
                  <li><a ng-click="deleteCategory(category)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                </ul>
            </div>  
        </td>
    </tr>
</table>