

<!-- Page Content -->
<div class="intro-header">
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Shop 25% off all watches!</h1><br>
        <h2>Ends December 2016!</h2>
        <p>*terms and conditions apply</p>
        <p><a class="btn btn-primary btn-large">Call to action!</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Spring 2016 styles are in!</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
<div class="row text-center">
        
        <div class="col-md-3 col-sm-6 hero-feature" data-ng-repeat="category in data.categories">
            <div class="thumbnail">
                <img data-ng-src="/{{ category.img }}" alt="{{ category.name }}">
                <div class="caption">
                    <h3><a href='#/{{ category.url }}'>{{ category.name }}</a></h3>
                    <p>{{ category.description }}</p>
                    <p>
                        <a href='#/{{ category.url }}' class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

    <hr>
</div>
</div>
