    
  


   <!-- products of the category -->
    <div class="row text-center">
        
        <div class="col-md-3 col-sm-6 hero-feature" data-ng-repeat="product in data.products">
            <div class="thumbnail">
                <!-- <img data-ng-src="/{{ category.img }}" alt="{{ category.name }}"> -->
                <div class="caption">
                    
                    <h3><a href='#/{{ data.catUrl }}/{{ product.id }}'>{{ product.name }}</a></h3>
                    <div class="btn-group">
                        <label class="btn btn-default"
                               ng-init="product.count = 1"
                               ng-model="product.count" 
                               ng-repeat="n in [1, 2, 3, 4, 5]" 
                               uib-btn-radio="n" uncheckable>
                            {{ n }}
                        </label>
                    </div>
                    
                    <button type="button" class="btn btn-primary" ng-click="addToCart(product)">
                        Add To Cart
                    </button>
                </div>
            </div>
        </div>

    <hr>
</div>
   
   