<div class="col-xs-12 col-sm-4 col-md-6">
        <button type="button" class="btn btn-primary" ng-click="addUser()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add User
        </button>
</div>


<table class="table table-hover margin-top-20">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    <tr dir-paginate="user in data.users | filter:q | itemsPerPage: pageSize" current-page="currentPage">
        <td>{{user.id}}</td>
        <td>
           {{user.firstName}}  {{user.lastName}} 
        </td>
        <td>

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-click="viewUser(user)"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
            <li><a ng-click="editUser(user)"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
            <li><a ng-click="deleteUser(user)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
          </ul>
        </div>            

        </td>
    </tr>
</table>

<div class="text-center">
    <dir-pagination-controls 
        boundary-links="true" 
        on-page-change="pageChangeHandler(newPageNumber)" 
        template-url="../../../bower_components/angularUtils-pagination/dirPagination.tpl.html"
        >
    </dir-pagination-controls>
</div>