<ng-include src="'views/partial/productPageHeader.html'"></ng-include>

<table class="table table-hover margin-top-20">
    <tr>
        <th ng-repeat="item in data.sortItems">
            <a ng-click="sortItemsBy(item)">{{item}}</a></th>
        <th></th>
    </tr>
    <tr dir-paginate="product in data.products | filter:q | itemsPerPage: pageSize" current-page="currentPage">
        <td>{{product.id}}</td>
        <td>
            {{product.name}}
            <span class="label label-success margin-left-2" ng-repeat="category in product.categories">
                {{category.name}}
            </span>
        </td>
        <td>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="viewProduct(product)"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
                <li><a ng-click="editProduct(product)"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
                <li><a ng-click="deleteProduct(product)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
              </ul>
            </div>            
        </td>
    </tr>
</table>

<div class="text-center">
    <dir-pagination-controls 
        boundary-links="true" 
        on-page-change="pageChangeHandler(newPageNumber)" 
        template-url="../../../bower_components/angularUtils-pagination/dirPagination.tpl.html"
        >
    </dir-pagination-controls>
</div>