<ng-include src="'views/partial/productPageHeader.html'"></ng-include>

<table class="table table-hover margin-top-20">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    <tr dir-paginate="product in data.products | filter:q | itemsPerPage: pageSize" current-page="currentPage">
        <td>{{product.id}}</td>
        <td>
            {{product.name}}
            <span class="label label-success margin-left-2" ng-repeat="category in product.categories">
                {{category.name}}
            </span>
        </td>
        <td>
            <button type="button" class="btn btn-danger" ng-click="deleteProduct(product)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete
            </button>
            <button type="button" class="btn btn-primary" ng-click="editProduct(product)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Edit
            </button>
            <button type="button" class="btn btn-success" ng-click="viewProduct(product)">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                View
            </button>
        </td>
    </tr>
</table>

<div class="text-center">
    <dir-pagination-controls 
        boundary-links="true" 
        on-page-change="pageChangeHandler(newPageNumber)" 
        template-url="../../../bower_components/angularUtils-pagination/dirPagination.tpl.html"
        >
    </dir-pagination-controls>
</div>